.description-title {
  margin-bottom: 30px;
}

.wrapper {
  display: grid;
  grid-template-columns: auto auto;
  width: 48%;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  padding: 50px 0;
  border-radius: 10px;
  margin-top: 30px;
  background-color: #FCECDD;
}

.avatar {
  text-align: -webkit-center;
}

.image-border {
  background-color: rgba(240, 240, 240, 0.75);
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-top: 30px;
}

.img {
  background-image: url("../img/avatar.jpg");
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 25px;
}

.signup-form {
  text-align: center;
}

.title {
  font-family: 'Nunito', sans-serif;
  font-size: 200%;
  font-weight: 900;
  margin-bottom: 20px;
}

input {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  margin-bottom: 20px;
  padding: 10px 40px;
  border-radius: 20px;
  border: 1px solid rgb(240,240,240);
}

.btn-signup {
  width: 230px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
  border: none;
  background-color: #F7A440;
  margin-bottom: 20px;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.btn-animation {
  box-shadow: -1px 0px 15px 9px rgba(57,148,214,0.61);
}
